<div>
    <div class="container">
        <h2>Home</h2>
        <div class="row">
            <div class="col-sm-6">
                <img class="img-fluid" src="../../../assets/scuola.jpg" >
            </div>
            <div class="col-sm-6">
                <p>Bit è una digital company dinamica, innovativa e continuamente in espansione. Siamo presenti sul mercato dal 2015 e, da allora, eroghiamo servizi di consulenza progettati per ogni tipo di esigenza espressa dai nostri clienti.La nostra competenza in ambito IT ci permette di essere presenti a 360° su un ampio spettro di tecnologie.
                    La nostra strategia Customer Centric pone la richiesta dei nostri clienti e dei nostri partner come fulcro centrale di ogni progetto implementato. Operiamo all’insegna della rapidità, per emergere all’interno di uno scenario tecnologico sempre più competitivo e della precisione, per garantire sempre il raggiungimento degli obiettivi finali.</p>
            </div>



        </div>
    </div>
</div>